#Concatenation of mapped and assembled gene sequences# 

#Path to new data
data=~/path/to/new/data

#path to existing data - multifastas for each loci containing existing data, e.g. sanger. filename must end '_loci.fasta'
legacy=~/path/to/legacy/data

#make loci list file
printf 'loci1.fasta\nloci2.fasta\nloci3.fasta' > loci

#path to AMAS
AMAS=/path/to/amas/AMAS.py
