#Setting the stage! - All the world is a stage!!

#Location of raw data
data=~/path/to/raw/data

#Location of reference file
Ref=~/path/to/reference/reference.fasta

#Location of soft2match python script
Soft=~/scratch/soft2match.py

# File for adapter removal 
adapterfile=~/path/to/adapter/file/NEBNext-PE.fa

#trim reads prior to mapping (using trimmomatic)'=yes'  or process reads without trimming '=no'
trimmed=no
